
 


nav {
  
  z-index: 9000;
  background-color: rgba(0,0,0, 0.3);
  backdrop-filter: blur(15px);
}

nav ul li a.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: radial-gradient(circle 325px at 19.2% 64.8%, rgba(254, 62, 101, 1) 9.7%, rgba(166, 24, 146, 1) 91.3%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

ul {
 
  display: flex;
  position: relative;

  margin-inline: auto;
  z-index: 1;
  justify-content:center;
  align-items: center;
  max-height: 7rem;
}


nav ul li a {
  position: relative;
  top: 0.7em;
  display: flex;
  
}
.logo{
  position: relative;
  top: 1em;
  display: flex;
   

  
  
}
.logo:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-out;
}
nav ul li a{
 
  transition: 0.4s;
  color: #ffffff;
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
  
}
nav ul li a:hover {
  border-bottom: 2px solid #000000;
  background-image: radial-gradient(circle 325px at 19.2% 64.8%, rgba(254, 62, 101, 1) 9.7%, rgba(164, 24, 146, 1) 91.3%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}
.sidebar{
  position: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 6em;
  max-width: 20rem;
  max-height: 100vh;
  height: 100vh;
  border-radius: var(--main-radius);
  left: -100%;
 
 
  background-color:rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
}
.sidebar--open{
  left: 0;
}
.sidebar li{
  width: 100%;
  height: fit-content;
}
.menu-icons{
  display: none;
}


