body{
    display: flex;
    background-color: rgb(7, 6, 6);
    font-family: 'Inter';
    overflow: hidden;
    justify-content: center;
  
    
}

.shows{
    margin-right: 8em;
}
.home{
    margin-left: 14.8em;
}